@model LMS.Models.BorrowRecord

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BorrowRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Recordid" class="control-label"></label>
                <input asp-for="Recordid" class="form-control" />
                <span asp-validation-for="Recordid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Memberid" class="control-label"></label>
                <select asp-for="Memberid" class ="form-control" asp-items="ViewBag.Memberid"></select>
            </div>
            <div class="form-group">
                <label asp-for="Bookid" class="control-label"></label>
                <select asp-for="Bookid" class ="form-control" asp-items="ViewBag.Bookid"></select>
            </div>
            <div class="form-group">
                <label asp-for="Borrowdate" class="control-label"></label>
                <input asp-for="Borrowdate" class="form-control" />
                <span asp-validation-for="Borrowdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Returndate" class="control-label"></label>
                <input asp-for="Returndate" class="form-control" />
                <span asp-validation-for="Returndate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
